:root {
  /* Color CSS variables */
  --color-primary-light: #dcd5d6;
  --color-primary-dark: #a8989a;
  --color-secondary: #c73401;
  --color-bg: #dfe5dd;
  --color-grey: #808080;
  --color-white: #ffffff;
  --color-black: #000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* set root font-size to 10px */
}

body {
  font-family: var(--ff);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1px;
  color: black;
  background-color: var(--color-bg);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
